<!-- <p>Home Page</p>

<button (click)="getCall()">Get Call</button>
{{products || json}}
<router-outlet></router-outlet>
<div class="header">
  <div class="text-box">
    <div class="heading-primary">
                <span class="heading-primary-main">
                    out doors
                </span>
      <span class="heading-primary-sub">
                    is where life happens
                </span>
    </div>
  </div>
</div>
<section class="grid-test">
  <div class="row">
    <div class="col-left">
      Left
    </div>
    <div class="col-left">
      Right
    </div>
  </div>
  <div class="row">
    <div class="col-left">
      Left
    </div>
    <div class="col-right">
      Right
    </div>
  </div>
  <div class="row">
    <div class="col-left">
      Left
    </div>
    <div class="col-right">
      Right
    </div>
  </div>
  <div class="row">
    <div class="col-left">
      <h3 class="heading">
        Hello Heading with some nonsence
      </h3>
      <div class="paragraph">
        Hello Heading with some nonsence. Hello Heading with some nonsence Hello Heading with some nonsence Hello Heading with some nonsence
      </div>
      <h3 class="heading">
        Hello Heading with some nonsence
      </h3>
      <div class="paragraph">
        Hello Heading with some nonsence. Hello Heading with some nonsence Hello Heading with some nonsence Hello Heading with some nonsence
      </div>
      <a href="#" class="btn-text">Link maore and more</a>
    </div>
    <div class="col-right">
      
    </div>
  </div>
</section>

<div class="myTest">
    Whenever we do some modification to existing .js, .css files, and move them to production environment those changes may not get reflected on the browser of customer who is using our software. This is because those .css and .js files have been cached in the browser. When the user accesses the URL, it will take the cached .js and .css files . That is the reason , those new changes will not be appeared to the user. Either he has to clear the browser cookie and reload the page or else he has to do hard refresh of the page by pressing ctl+f5

    But we can not ask each and every user to clear the cookie of their browser .Even we can not ask them to go for hard refresh of the page. So we can hack this through some approach. This is called Cache busting

</div> -->
<header>
  <div class="text-box">
    <h1 class="primary-header">
      <span class="primary-header-main">
        Out Doors
      </span>
      <span class="primary-header-sub">
        is where life happens
      </span>
    </h1>
    <!-- <a href="#" class="btn btn-white">Discover Us</a> -->
    <button class="btn btn-white">See My Work</button>
  </div>
</header>
<main>
<section class="section-about">
  <div class="u-center-text">
     <h2 class="header-secondary margin-bottom-big">I am working

  </h2>
  </div>
  <div class="row">
  
    <div class="col-1-of-2">
     <h2 class="header-teritory margin-bottom-small">
      I am working
     </h2>
     <p class="paragraph">

A basic paragraph structure usually consists of five sentences: the topic sentence, three supporting sentences, and a concluding sentence. But the secrets to paragraph writing lay in four essential elements, which when used correctly, can make an okay paragraph into a great paragraph.
A basic paragraph structure usually consists of five sentences: the topic sentence, three supporting sentences, and a concluding sentence. But the secrets to paragraph writing lay in four essential elements, which when used correctly, can make an okay paragraph into a great paragraph.

     </p>

     <h2 class="header-teritory margin-bottom-small">
      I am working
     </h2>
     <p class="paragraph">

      A basic paragraph structure usually consists of five sentences: the topic sentence, three supporting sentences, and a concluding sentence. But the secrets to paragraph writing lay in four essential elements, which when used correctly, can make an okay paragraph into a great paragraph.
      A basic paragraph structure usually consists of five sentences: the topic sentence, three supporting sentences, and a concluding sentence. But the secrets to paragraph writing lay in four essential elements, which when used correctly, can make an okay paragraph into a great paragraph.

     </p>

    </div>
    <div class="col-1-of-2">
     Hello
    </div>
  </div>
 <!-- <div class="row">
  
  <div class="col-1-of-2">
   Hello
  </div>
  <div class="col-1-of-2">
   Hello
  </div>
</div>
<div class="row">
  
  <div class="col-1-of-2">
   Hello
  </div>
  <div class="col-1-of-2">
   Hello
  </div>
</div> -->

</section>
<section class="section-features">

  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box">
          <h2 class="header-teritory margin-bottom-small">
              I am working
             </h2>
             <p class="paragraph">
        
        A basic paragraph structure usually consists of five sentences: the topic 
             </p>
      </div>
    </div>
    <div class="col-1-of-4">
        <div class="feature-box">
            <h2 class="header-teritory margin-bottom-small">
                I am working
               </h2>
               <p class="paragraph">
          
          A basic paragraph structure usually consists of five sentences: the topic 
               </p>
        </div>
      </div>
      <div class="col-1-of-4">
          <div class="feature-box">
              <h2 class="header-teritory margin-bottom-small">
                  I am working
                 </h2>
                 <p class="paragraph">
            
            A basic paragraph structure usually consists of five sentences: the topic 
                 </p>
          </div>
        </div>
        <div class="col-1-of-4">
            <div class="feature-box">
                <h2 class="header-teritory margin-bottom-small">
                    I am working
                   </h2>
                   <p class="paragraph">
              
              A basic paragraph structure usually consists of five sentences: the topic 
                   </p>
            </div>
          </div>
  
  </div>

</section>
  

</main>
<router-outlet></router-outlet>